<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>Phishing Detector</title>
  </head>
  <body>
    <main class="container">
      <form id="checkForm">
        <input type="text" placeholder="URL" />
        <input type="submit" value="Check" />
      </form>
      <p id="resultElement">Enter a URL and press Check.</p>
    </main>
    <script src="./static/app.js"></script>
  </body>
</html>
